server:
  port: 8080

management:
  info:
    git:
      mode: full
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level.root: INFO

spring:
  application:
    name: order-demo
  output:
    ansi:
      enabled: always
  jackson:
    default-property-inclusion: non_null
    time-zone: UTC
    deserialization:
      fail-on-ignored-properties: false
      # This line must be present and correctly indented
      fail-on-null-for-primitives: false

  datasource:
    username: ${POSTGRES_USER:user}
    password: ${POSTGRES_PASSWORD:password}
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:5432/${POSTGRES_DB:database}

  liquibase:
    enabled: on
    drop-first: on
    default-schema: public
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
      jdbc:
        time_zone: UTC
    show-sql: true